<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1> <%= @person.username %> esta interesado en tus mascotas</h1>
<p>
	Correo : <%= @person.email %>
</p>
<p>
	Numero Telefonico: <%= @person.phone_number %>
</p>
</body>
</html>